<template>
    <div class="container">
        <h1 class="text-center">Roles</h1>
        <hr />

        <div class="modal fade" :class="{ show: modal }">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ titleModal }}</h5>
                        <button
                            @click="closeModal()"
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="name">Nombre</label>
                            <input
                                v-model="role.name"
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Nombre del Rol"
                            />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            @click="closeModal()"
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Cerrar
                        </button>
                        <button
                            @click="saveItem()"
                            type="button"
                            class="btn btn-success"
                        >
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button
            @click="
                newItem = true;
                openModal();
            "
            type="button"
            class="btn btn-primary"
        >
            Nuevo Rol
        </button>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Rol</th>
                    <th scope="col" colspan="2" class="text-center">
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="role in roles" :key="role.id">
                    <th scope="row">{{ role.id }}</th>
                    <td>{{ role.name }}</td>
                    <td>
                        <button
                            @click="
                                newItem = false;
                                openModal(role);
                            "
                            class="btn btn-info text-white"
                        >
                            Editar
                        </button>
                    </td>
                    <td>
                        <button
                            @click="deleteItem(role.id)"
                            class="btn btn-danger"
                        >
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            modal: 0,
            titleModal: "",
            newItem: true,
            id: 0,
            role: {
                name: "",
            },
            roles: [],
        };
    },
    methods: {
        async list() {
            const response = await axios.get("roles");
            this.roles = response.data;
        },
        async deleteItem(id) {
            const response = await axios.delete("/roles/" + id);
            if (response.status == 200) {
                alert("Rol eliminado exitosamente");
            } else {
                alert("Hubo un error al intentar eliminar Rol");
            }
            this.list();
        },
        async saveItem() {
            let response;
            if (this.newItem) {
                response = await axios.post("/roles/", this.role);
                console.log(response)
            } else {
                response = await axios.put("/roles/" + this.id, this.role);
            }
            if (response.status == 200) {
                alert(
                    this.newItem
                        ? "Rol creado exitosamente"
                        : "Rol modificado exitosamente"
                );
            } else {
                alert(
                    this.newItem
                        ? "Hubo un error al intentar crear Rol"
                        : "Hubo un error al intentar modificar Rol"
                );
            }
            this.closeModal();
            this.list();
        },
        openModal(data = {}) {
            this.modal = 1;
            if (this.newItem) {
                this.titleModal = "Crear Rol";
                this.id = 0;
                this.role.name = "";
            } else {
                this.titleModal = "Modificar Rol";
                this.id = data.id;
                this.role.name = data.name;
            }
        },
        closeModal() {
            this.modal = 0;
        },
    },
    created() {
        this.list();
    },
};
</script>

<style>
.show {
    display: list-item;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}
</style>
